<section class="section article">
  <header class="header">
    <h1 class="header__title">Showing Selected Article</h1>
    <%= render 'articles_nav' %>
  </header>
  <section class="section">
    <h2 class="article__title">
      <%= @article.title %>
    </h2>
    <p class="article__description">
      <%= @article.description %>
    </p>
    <%= link_to 'Edit', edit_article_path(@article), class: 'link' %>
    <%= link_to 'Delete', article_path(@article),
        method: :delete,
        data: { confirm: "Are you sure?" }
    %>
  </section>
</section>
