<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AlphaBlog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/main_nav' %>
    </header>
    <main class="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
